<nav>
  <div class="logo">
    <a href="" class="Restaurant"><h2>Restaurant</h2></a>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/register" routerLinkActive="active">Register</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li *ngIf="isLoggedIn"><a (click)="logOut()">Logout</a></li>
  
  </ul>

  <div class="mobile-burger" (click)="toggleMenu()">
    <button class="hamburger hamburger--elastic" type="button" aria-label="Menu"
            [class.is-active]="isMenuOpen">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</nav>
<div class="mobile-menu" [ngClass]="{'open': isMenuOpen}">
  <ul>
    <li><a routerLink="/" routerLinkActive="active" (click)="toggleMenu()">Home</a></li>
    <li><a routerLink="/cart" routerLinkActive="active" (click)="toggleMenu()">Cart</a></li>
    <li><a routerLink="/register" routerLinkActive="active" (click)="toggleMenu()">Register</a></li>
    <li><a routerLink="/login" routerLinkActive="active" (click)="toggleMenu()">Login</a></li>
    <li *ngIf="isLoggedIn"><a (click)="logOut()">Logout</a></li>
  </ul>
</div>
