

.PHOTO{
    height: 100%;
    text-align: center;
    padding: 200px 20px;
    font-size: 24px;
    font-weight: bold;
    background-image: url('https://restaurant.stepprojects.ge/images/inner_banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
@media screen and (max-width: 768px) {
    .PHOTO{
        padding: 100px 20px;
        font-size: 18px;
    }
    
}